.Book {
    height: 23rem;
    width: 20rem;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px rgba(179, 171, 171, 0.623);
    margin: 1rem 1.5rem;
    padding-left: 20px;
}
.Book_head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem .5rem;
}

.Book_head_img {
    height: 115px;
    width: 115px;
    padding-right: 10px;
}
.Book_ratings {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}